<section class="w-full md:h-[calc(100vh-100px)] flex flex-col justify-center items-center gap-10 px-2 md:px-10 pt-6 md:py-10 my-10 md:my-0">
	<div class="md:w-3/5 flex flex-col-reverse md:flex-row justify-between items-center gap-10">
		<div class="md:w-3/5 text-white flex flex-col justify-center bg-[#1F1B24] px-6 md:px-6 py-8 rounded-3xl shadow-md shadow-[#0f0c13]">
			<span class="text-xl font-semibold text-left pb-3">Welcome to 
				<span class="text-[#03DAC5]">TheCrypt</span>!
			</span>
			<p class="italic font-light text-md">
				Here you can get familiar to the latest ups downs of life of investors... Just kidding XD. 
				This Web App lets you to be up to date with all happenings of crypto market 
				by providing you all with real time data, all thanks to <a class="text-[#03DAC5]" href="https://www.coingecko.com/en/api">CoinGecko API</a>.
			</p>
		</div>
		<img src="/assets/Logo.png" class="h-48" />
	</div>
	<div class="md:w-3/5 flex flex-col-reverse md:flex-row-reverse justify-between gap-10">
		<div class="md:w-3/5 text-white flex flex-col justify-center bg-[#1F1B24] px-6 md:px-6 py-8 rounded-3xl shadow-md shadow-[#0f0c13]">
			<span class="text-xl font-semibold text-left pb-3">I am 
				<span class="text-[#03DAC5]">
					Samprit Chaurasiya
				</span>
			</span>
			<p class="italic font-light text-md">
				I'm a Web Developer currently working <br />@
				<a class="text-[#03DAC5]" href="https://media.net">Media.net</a>, Mumbai<br />
                    <span>Contribute to this project&nbsp;
                        <a
							class="text-[#03DAC5]"
                            href="https://github.com/Nekros1712/TheCrypt-Angular">
                            here
                        </a>
                    </span>
			</p>
		</div>
		<div class="md:w-1/3 flex flex-col-reverse md:flex-row justify-start items-center md:-ml-24">
			<div class="role">Developer</div>
			<img src="assets/Samprit.jpeg" class="h-48 rounded-full border border-[#1F1B24] md:-ml-14" />
		</div>
	</div>
</section>