<section class="w-full h-[calc(100vh-200px)] flex justify-center items-center gap-10 px-2 md:px-10 pt-6 md:py-10">
	<div class="flex flex-col justify-center bg-[#1F1B24] px-4 md:px-20 py-8 rounded-3xl shadow-md shadow-[#0f0c13]">
		<span class="text-4xl text-center text-white uppercase tracking-wider py-4">Don't Feel Shy<br />To Say Hi!</span>

		<div class="flex flex-col items-center text-center">
			<a href="https://github.com/Nekros1712" target="_new" class="social tracking-wider">Github</a>
			<a href="https://www.linkedin.com/in/sampritchaurasiya1712/" target="_new" class="social tracking-wider">LinkedIn</a>
			<a href="mailto:sampritchaurasiya07@gmail.com" target="_new" class="social tracking-wider">Gmail</a>
			<a href="https://www.behance.net/sampritchauras" target="_new" class="social tracking-wider">Behance</a>
			<a href="https://www.instagram.com/samprit1712/" target="_new" class="social tracking-wider">Instagram</a>
		</div>
	</div>
</section>