<div class="flex flex-col justify-center items-center tracking-wider py-3">
	<span class="text-3xl text-[#03DAC5] font-semibold mb-5">{{ data.coin }}</span>
	<div class="w-max text-xl flex justify-between items-center">
		<ul class="list-none font-semibold flex flex-col justify-center">
			<li>Market Rank</li>
			<li>Current Price</li>
			<li>Market Capital</li>
			<li>Circulating Supply</li>
			<li>Total Supply</li>
		</ul>
		<ul class="list-none flex flex-col justify-center px-5">
			<li>:</li>
			<li>:</li>
			<li>:</li>
			<li>:</li>
			<li>:</li>
		</ul>
		<ul class="list-none flex flex-col justify-center text-center">
			<li>{{coinData.marketRank}}</li>
			<li>{{coinData.currentPrice}}</li>
			<li>{{coinData.marketCap}}</li>
			<li>{{coinData.circSupply}}</li>
			<li>{{coinData.totalSupply}}</li>
		</ul>
	</div>
	<span class="mt-5">Percent Change in Last...</span>
	<table class="border-separate">
		<tr>
			<td class="text-black bg-[#03dac5] rounded text-center px-3">24 Hrs</td>
			<td class="text-black bg-[#03dac5] rounded text-center px-3">1 Week</td>
			<td class="text-black bg-[#03dac5] rounded text-center px-3">1 Month</td>
			<td class="text-black bg-[#03dac5] rounded text-center px-3">1 Year</td>
		</tr>
		<tr>
			<td class="text-center">{{coinData.percentChange.day.toFixed(3)}}</td>
			<td class="text-center">{{coinData.percentChange.week.toFixed(3)}}</td>
			<td class="text-center">{{coinData.percentChange.month.toFixed(3)}}</td>
			<td class="text-center">{{coinData.percentChange.year.toFixed(3)}}</td>
		</tr>
	</table>
</div>