<section class="w-full flex flex-col md:flex-row md:justify-evenly gap-10 items-center px-2 md:px-10 pt-6 md:py-10">
	<div class="h-[calc(100vh-200px)] md:h-[calc(100vh-160px)] flex flex-col justify-center bg-[#1F1B24] px-4 md:px-8 py-2 rounded-2xl shadow-md shadow-[#0f0c13]">
		<div class="flex justify-between items-center text-white font-bold tracking-widest px-2 pb-2">
			<span class="text-xl">Crypts</span>
			<span class="text-lg">Currency: <span class="px-2 py-1 text-[#03DAC5]">USD</span></span>
		</div>
		<hr />
		<div *ngIf="data.length" class="flex flex-col pt-2 overflow-auto">
			<table class="table-auto border-separate border-spacing-2">
				<thead class="text-md md:text-xl font-semibold">
					<tr class="z-10">
						<th class="text-[#03DAC5] bg-[#1F1B24] pr-8 rounded-xl md:rounded-sm sticky top-0 text-left hidden md:table-cell">Rank</th>
						<th class="text-[#03DAC5] bg-[#1F1B24] pr-16 md:px-16 sticky top-0 text-left md:text-center">Currency</th>
						<th class="text-[#03DAC5] bg-[#1F1B24] px-4 rounded-xl md:rounded-sm sticky top-0">Price</th>
						<th class="text-[#03DAC5] bg-[#1F1B24] px-4 rounded-xl md:rounded-sm sticky top-0">Growth</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of data">
						<td class="text-gray-200 text-left hidden md:block">{{item.market_cap_rank}} - <span class="uppercase italic">{{item.symbol}}</span></td>
						<td class="text-gray-200 font-semibold text-left md:text-center">{{item.name}}</td>
						<td class="text-gray-200 text-center">{{+item.current_price.toFixed(3)}}</td>
						<td [ngClass]="(item.price_change_percentage_24h < 0) ? 'bg-red-400 text-gray-900' : 'text-gray-200'" class="text-center rounded-lg">{{item.price_change_percentage_24h.toFixed(3)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div [ngClass]="data.length ? 'hidden' : ''" class="w-full h-full flex justify-center items-center px-24">
			<span *ngIf="!data.length" class="text-white text-2xl case italic">Your crypts are loading...<br /> Thank you for being patient</span>
		</div>
	</div>
	<div class="hidden w-1/3 md:flex flex-col gap-3">
		<app-chart [coin]="coinA" />
		<div class="flex justify-evenly">
			<app-dropdown [items]="dropDownOptsA" [selectedItem]="'bitcoin'" [updateCoin]="updateCoinA" />
			<svg class="w-24" viewBox="0 0 720 150" xmlns="http://www.w3.org/2000/svg">
				<g>
					<line stroke-width="15" y2="111" x2="653" y1="111" x1="81" stroke="#03dac5" fill="#03dac5" />
					<line stroke-width="15" y2="76" x2="653" y1="76" x1="81" stroke="#03dac5" fill="#03dac5" />
					<line stroke-width="15" y2="111" x2="653" y1="148" x1="546" stroke="#03dac5" fill="#03dac5" />
					<line stroke-width="15" y2="38.5" x2="187" y1="76" x1="81" stroke="#03dac5" fill="#03dac5" />
				</g>
			</svg>
			<app-dropdown [items]="dropDownOptsB" [selectedItem]="'ethereum'" [updateCoin]="updateCoinB" />
		</div>
		<app-chart [coin]="coinB" />
	</div>
</section>